<div class="container mt-5">
    <h2 class="mb-4">Impressum</h2>
  
    <p><strong>Angaben gemäß § 5 TMG</strong></p>
    <p>
      CO₂-Rechner<br>
      Sefa Gür<br>
      Hinterestr. 6<br>
      78564 Wehingen<br>
      Deutschland
    </p>
  
    <p><strong>Kontakt</strong></p>
    <p>
      E-Mail: <a href="mailto:Sefa_guer@hotmail.com">Sefa_guer"&#64;"hotmail.com</a>
    </p>
  
    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
    <p>
      Sefa Gür<br>
      Hinterestr. 6<br>
      78564 Wehingen
    </p>
  </div>
  