<app-header *ngIf="showHeader"></app-header>

<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar -->
    <ng-container *ngIf="showSidebar">
      <app-local-menu class="col-12 col-md-1 mb-4 mb-md-0"></app-local-menu>
      <main class="col-12 col-md-11 d-flex justify-content-center">
        <div class="w-100" style="max-width: 700px;">
          <router-outlet></router-outlet>
        </div>
      </main>
    </ng-container>

    <!-- Ohne Sidebar -->
    <ng-container *ngIf="!showSidebar">
      <main class="col-12 d-flex justify-content-center">
        <div class="w-100" style="max-width: 700px;">
          <router-outlet></router-outlet>
        </div>
      </main>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
